{{ existing_content }}

[workers]
{% for instance in gcp_workers_instances.results %}
{% if not instance.skipped is defined and instance.name is defined %}
{{ instance.name }} ansible_host={{ instance.networkInterfaces[0].accessConfigs[0].natIP }}
{% endif %}
{% endfor %}